<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
    <div id="content">
      <p>
        This page includes my REPL Game
      </p>
      <%= yield %>
    </div>
  </body>
</html>
