<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/projects/1">repl project</a>
      <a href="/projects/2">Voting sim project</a>
      <a href="/link/linkedin">linkedin</a>
      <a href="/link/github">github</a>
      <a href="/link/twitter">twitter</a>
    </nav>
    <div id="content">
      <p>
        Here's my portfolio project page
      </p>
      <%= yield %>
    </div>
  </body>
</html>
